on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted

    env:
      AWS_REGION: ap-south-1
      ACCOUNT_ID: 934424428884
      REPO: testing
      TAG: v3

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login --username AWS --password-stdin \
          $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

    - name: Build, tag, and push image
      run: |
        IMAGE_URI=$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$REPO:$TAG
        docker build -t $IMAGE_URI .
        docker push $IMAGE_URI

    - name: Run the container
      run: |
        IMAGE_URI=$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$REPO:$TAG
        docker run -d --name cont1 -p 4000:3000 $IMAGE_URI
