name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag testing:v1

    - name: run the container
      run: |
         docker rm -f cont1 | true
         docker run -it -d --name cont1 -p 3000:3000 testing:v1

      
