name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region ${{aws-region}} \
        | docker login --username AWS --password-stdin \
          934424428884.dkr.ecr.ap-south-1.amazonaws.com

    - name: Build, tag, and push image
      run: |
        ACCOUNT_ID=934424428884
        REGION=ap-south-1
        REPO=testing
        TAG=v3

        IMAGE_URI=$ACCOUNT_ID.dkr.ecr.$REGION.amazonaws.com/$REPO:$TAG

        docker build -t $IMAGE_URI .
        docker push $IMAGE_URI


    - name: run the container
      run: 
         docker run -it -d --name cont1 -p 4000:3000 $IMAGE_URI
         
    

      
